* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  min-width: 320px;
  min-height: 100vh;
  margin: 0;
  line-break: strict;
  overflow-wrap: break-word;
  word-break: keep-all;
}

a,
button,
input {
  -webkit-tap-highlight-color: transparent;
}

button,
input {
  font: inherit;
}

img {
  max-width: 100%;
}
